# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class
**/*.py[cod]
**/__pycache__/

# Ignore virtual environment directories
venv/
env/
.virtualenv/
.venv

# Ignore environment variable files
*.env
.env.*

**/*.xlsx
# Solvers
src/optimizer/solvers/*.exe

